body {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.grid {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-image: url('images/invader.png');
    background-size: cover;
}

.shooter {
    background-image: url('images/shooter.png');
    background-size: cover;
}

.laser {
    background-image: url('images/laser.png');
    background-size: cover;
}

.boom {
    background-color: red;
    border-radius: 50%;
}
